<!-- <div class="example-container">
    <mat-toolbar>
        <div>
            <img src="../../../assets/images/logo new.png" alt="" width="100%" height="100">
        </div>

        <span class="example-spacer"></span>

        <div class="example-button-row mr-2">
            <button mat-raised-button class="headerbtn rounded-corners">SIGN IN</button>
        </div>

        <div class="example-button-row ml-3">
            <button mat-raised-button class="headerbtn rounded-corners">CREATE ACCOUNT</button>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav-content class="example-sidenav-content fxFlex">
            <h1>Welcome to Admin</h1>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div> -->