<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold testTitle">Welcome to QAPreneur Quiz</h1>
    <p class="col-md-8 fs-5 subhead">This quiz will contains total 30 questions. Each Question holds 2 Points.</p>
    <h4 class="mt-4 rules">Rules:</h4>
    <ol>
        <li class="mt-1">Correct Question gives you 2 points.</li>
        <li class="mt-1">Incorrect question gives to -2 points.</li>
        <li class="mt-1">You will have 60 sec to answer each question.</li>
        <li class="mt-1">Refereshing the page will reset the Quiz.</li>
    </ol>
    <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
    <!-- <div class="name col-md-4 my-3">
        <label for="">Enter your name:</label>
        <input #name type="text" class="form-control">
    </div> -->
    <div class="example-button-row mr-2">
        <button mat-raised-button class="headerbtn rounded-corners" routerLink="/Test"  (click)="startQuiz()">Start the Quiz!!</button>
    </div>
</div>